*  {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

header {
  height: 2rem;
  background-color: green;
}

.container {
  max-width: 100%;
}

.travel-log {
  max-width: 70%;
}